          <div class="container">
                    <div class="form">
                       
                        <h6>Adicionar, Remover e conferir itens</h6>
                        <form>
                            <div class="input-group input-group-sm mb-3">
    
                                <input id="Listar1" placeholder="Produto" type="text" class="form-control">
                            </div>
    
                            <div class="input-group input-group-sm mb-3">
    
                                <input id="Listar2" placeholder="Tamanho" type="text" class="form-control">
                            </div>
                            <div class="input-group input-group-sm mb-3">
    
                                <input id="Listar3" placeholder="Preço" type="text" class="form-control" aria-label="Small">
                            </div>
                            <button type="submit" id="BTN_adicionar" class="btn btn-primary">Adicionar</button>
    
                            <h2 id="totalapagar"></h2>
                        </form>
                    </div>
                    <div id="Listar">
    
                        <ul>
                            <li>
                            </li>
                        </ul>
    
                    </div>