<div class="container bg-info">

<div class="row">
  

  
    <h1>Usuario</h1>
  <form>
    <div class="form-row bg-info">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Primeiro nome</label>
        <input
          type="text"
          class="form-control"
          id="InputNome"
          placeholder="Nome"
          
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Sobrenome</label>
        <input
          type="text"
          class="form-control"
          id="InputUsuario"
          placeholder="Nome de Usuario"
          
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Usuário</label>
        <div class="input-group">
          
          <input
            type="text"
            class="form-control"
            id="InputEndereco"
            placeholder="Endereco"
            aria-describedby="inputGroupPrepend2"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault03">Cidade</label>
        <input
          type="text"
          class="form-control"
          id="InputTelefone"
          placeholder="Telefone"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">Estado</label>
        <input
          type="text"
          class="form-control"
          id="InputCidade"
          placeholder="Cidade"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">CEP</label>
        <input
          type="text"
          class="form-control"
          id="InputEmail"
          placeholder="Email"
          required
        />
      </div>
    </div>
   
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
</div>
