h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/colorir.jpg) ;
    background-repeat: no-repeat;
    

}
body{
    background-color: rgb(205, 177, 50);
}
p{
    font-size: 14px;
}
.imga{
    border-radius: 40px;
    padding: 10px;    
    border: 2px solid rgb(0, 0, 0); 
    margin-top: 20px;
}