h1{
    margin-top: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/colorir.jpg) ;
    background-repeat: no-repeat;
    

}
body{
    background-color: rgb(205, 177, 50);
}
p{
    font-size: 14px;
}
.imga{
    border-radius: 40px;
    padding: 10px;    
    border: 2px solid rgb(0, 0, 0); 
    margin-top: 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: rgb(29, 22, 136);
    transition: 0.3s;
  }

  .logo  {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    padding: 0;
  }
 